fastapi
uvicorn[standard]
jinja2
uvloop
psutil
aiohttp
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-logging
